/* Spacing */
@use 'sass:list';

$spacing-desktop: 8 16 24 32 40 80 128;
$spacing-mobile: '8' 8 16 24 32 40 64;
$spacing-names: 'xxs' 'xs' 's' 'm' 'l' 'xl' 'xxl';

@each $size in $spacing-mobile {
  $i: list.index($spacing-mobile, $size);

  .mb-#{nth($spacing-names, $i)} {
    margin-bottom: #{$size}px;
  }

  .mt-#{nth($spacing-names, $i)} {
    margin-top: #{$size}px;
  }
}

@each $size in $spacing-desktop {
  $i: list.index($spacing-desktop, $size);

  @include breakpoint(tablet) {
    .mb-#{nth($spacing-names, $i)} {
      margin-bottom: #{$size}px;
    }

    .mt-#{nth($spacing-names, $i)} {
      margin-top: #{$size}px;
    }
  }
}
