#{$pre}dashboard {
  $i: &;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    flex-direction: row-reverse;
  }

  &__toggle-aside {
    position: absolute;
    right: 0;
    z-index: $z-sticky;
    height: rem(48);
    border-radius: 0;
  }

  &__aside {
    position: absolute;
    z-index: $z-content;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    min-height: 100vh;
    background: $c-aurora06;
    transition: 0.3s width, 0.3s transform;

    @include breakpoint(tablet) {
      position: static;
      width: rem(300);
    }

    * {
      transition: 0.3s opacity;
    }

    #{$i}--hidden & {
      transform: translateX(100%);

      @include breakpoint(tablet) {
        transform: none;
        width: 0;
      }

      * {
        opacity: 0;
        white-space: pre;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: rem(48);
    padding: 0 rem(32);
    background-color: $c-aurora02;
  }

  &__ui-menu {
    display: flex;
    flex-direction: column;
    margin-top: rem(32);
    color: $c-aurora02;
  }

  &__ui-group {
    padding: rem(16) rem(32);

    * {
      color: $c-aurora02;
    }
  }

  &__ui-items-group {
    margin-top: rem(16);
  }

  &__ui-item {
    padding: rem(8) rem(8) rem(8) rem(16);
  }

  &__main {
    flex-grow: 1;
  }
}
