/* GRID */
$g-column: 98px !default; /* Column Width */
$g-gutter: 16px !default; /* Gutter Width */
$g-max-columns: 12 !default; /* Total Columns For Main Container */
$g-max-width: 1352px !default;
$g-max-width-md: 1124px !default;
$g-padding-mobile: 16px !default;
$g-padding: 24px !default;
