$icon-download-xls: '\e900';
$icon-facebook: '\e901';
$icon-gow: '\e902';
$icon-instagram: '\e903';
$icon-linkedin: '\e904';
$icon-tiktok: '\e905';
$icon-x: '\e906';
$icon-youtube: '\e907';
$icon-appstore: '\e908';
$icon-playstore: '\e909';
$icon-quote: '\e90a';
$icon-list-bullet: '\e90b';
$icon-24h-2: '\e90c';
$icon-24h: '\e90d';
$icon-accesibility: '\e90e';
$icon-arrow: '\e90f';
$icon-asphalts: '\e910';
$icon-aviation: '\e911';
$icon-bluetooth: '\e912';
$icon-boat: '\e913';
$icon-calendar: '\e914';
$icon-car: '\e917';
$icon-cart: '\e918';
$icon-car-wash: '\e916';
$icon-campus: '\e915';
$icon-cash-deck: '\e919';
$icon-chat: '\e91a';
$icon-chemistry: '\e91b';
$icon-children-area: '\e91c';
$icon-cities: '\e91d';
$icon-compensation: '\e91f';
$icon-coffee: '\e91e';
$icon-delete: '\e920';
$icon-detergent: '\e921';
$icon-dressing-room: '\e923';
$icon-documents: '\e922';
$icon-elevator: '\e926';
$icon-electric-charge: '\e924';
$icon-electric-parking: '\e925';
$icon-emergency-exit: '\e927';
$icon-energy-park: '\e928';
$icon-ethics: '\e929';
$icon-evaluation: '\e92a';
$icon-exploration-production: '\e92b';
$icon-exterior-office: '\e92c';
$icon-fuel-pump: '\e92d';
$icon-green-energy: '\e92e';
$icon-guide: '\e92f';
$icon-gym: '\e930';
$icon-health: '\e931';
$icon-heart: '\e932';
$icon-home: '\e933';
$icon-hvo: '\e934';
$icon-hydrogen: '\e935';
$icon-image: '\e936';
$icon-info: '\e937';
$icon-investment: '\e939';
$icon-lab: '\e93a';
$icon-laptop: '\e93b';
$icon-leaf: '\e93c';
$icon-licence: '\e93d';
$icon-list: '\e93e';
$icon-location: '\e93f';
$icon-lubes: '\e940';
$icon-man: '\e941';
$icon-medical-service: '\e942';
$icon-meeting-room: '\e943';
$icon-mobile: '\e944';
$icon-more: '\e945';
$icon-motorcycle: '\e947';
$icon-motorcycle-parking: '\e946';
$icon-no-smoking: '\e948';
$icon-interior-office: '\e938';
$icon-oil: '\e949';
$icon-organic-waste: '\e94a';
$icon-organization-chart: '\e94b';
$icon-page: '\e94c';
$icon-paint: '\e94d';
$icon-picto: '\e94e';
$icon-plastic-waste: '\e94f';
$icon-play: '\e950';
$icon-prize: '\e953';
$icon-promo: '\e954';
$icon-printer: '\e952';
$icon-policy: '\e951';
$icon-recycling: '\e955';
$icon-registered: '\e956';
$icon-relax-zone: '\e957';
$icon-restaurant: '\e958';
$icon-results: '\e959';
$icon-scooter: '\e95a';
$icon-service-station: '\e95b';
$icon-shower: '\e95c';
$icon-stairs: '\e95f';
$icon-storage: '\e960';
$icon-soap: '\e95d';
$icon-solar-power: '\e95e';
$icon-sustainable-chemistry: '\e962';
$icon-sustainable-product: '\e963';
$icon-support: '\e961';
$icon-tanker-truck: '\e965';
$icon-talent: '\e964';
$icon-tractor: '\e967';
$icon-trading: '\e968';
$icon-tree: '\e969';
$icon-truck-wash: '\e96a';
$icon-tower: '\e966';
$icon-uniform: '\e96b';
$icon-virtual-assistant: '\e96c';
$icon-washing-machine: '\e96d';
$icon-waste: '\e96e';
$icon-water: '\e970';
$icon-water-fountain: '\e96f';
$icon-wifi: '\e971';
$icon-write: '\e975';
$icon-woman: '\e972';
$icon-world: '\e973';
$icon-worldwide: '\e974';
