.collapsable {
  $i: &;
  display: grid;

  &__trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.4s grid-template-rows ease;

    [open] & {
      grid-template-rows: 1fr;
      transition: 0.4s grid-template-rows ease;
    }
  }

  &__content-inner {
    overflow: hidden;
    text-align: left;
  }

  &--l {
    #{$i}__trigger {
      @extend %t-h3;
    }
  }

  &--m {
    #{$i}__trigger {
      @extend %t-h4;
    }
  }

  &--s {
    #{$i}__trigger {
      @extend %t-h5;
    }
  }
}
