.collapsable {
  display: grid;

  &__trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.4s grid-template-rows ease;

    [open] & {
      grid-template-rows: 1fr;
      transition: 0.4s grid-template-rows ease;
    }
  }

  &__content-inner {
    overflow: hidden;
    text-align: left;
  }
}
