// Media queries Mixins
@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet-s {
  @media (min-width: #{$tablet-s}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop-s {
  @media (min-width: #{$desktop-s}) {
    @content;
  }
}

@mixin desktop-s-min {
  @media (min-width: #{$desktop-s-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Properties

@mixin backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($lines) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin ms-Icon {
  font-family: $font-icons;
}

@mixin card {
  align-items: center;
  background-color: $white;
  box-shadow: $cp-small-sh-elevation;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  font-family: $flama-book-family;
  justify-content: space-between;
  margin: 0 rem(10) rem(24);
  min-height: rem(160);
  overflow: hidden;
  padding: rem(32);
  position: relative;
  transition: background-color 200ms ease, box-shadow 200ms ease;
}

@mixin underlineNav {
  background-color: $cp-primary;
  bottom: 0;
  content: '';
  height: rem(4);
  left: 0;
  position: absolute;
  width: 100%;
}

/* Utility to make a card fully clickable
   Use:
    .card {
      @include clickable;
    }
*/
@mixin clickable($tag: 'a') {
  position: relative;

  #{$tag}::after {
    bottom: 0;
    content: '';
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Functions

@function rem($size, $context: $base-font-size) {
  @return #{calc($size / $context)}rem;
}
