// Colors
$c-primary: #047DBA;
$c-secondary: #90FFBB;
$c-white: #ffffff;
$c-black: #000000;

// Breakpoints
$desktop: 1200px;
$desktop-s: 1024px;
$desktop-s-min: 1025px;
$tablet: 768px;
$tablet-s: 640px;
$mobile: 375px;

// Fonts
$base-font-size: 16;